* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
.clr {
    clear: both;
}
/* common css */
.box-container {
    background: teal;
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.box {
    margin: 20px;
    width: 300px;
    background: rgba(0, 0, 0,.7);
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    transition: all linear .5s;
}
.box-body {
    background: fuchsia;
}
.head-one {
    text-align: center;
    padding: 10px 0;
    font-size: 40px;
}
.box-image {
    width: 300px;
}
.box-tex {
    text-align: justify;
    line-height: 20px;
    font-size: 18px;
    padding: 15px;
}
.box:hover {
    box-shadow: 7px 7px 15px #fff;
    transform: scale(1.1);
}
